NEXT_PUBLIC_FIREBASE_API_KEY="AIzaSyBc66ZbDvaR1fDSVsXBmPniO4dJPQacaJU"
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN="samu-2c762.firebaseapp.com"
NEXT_PUBLIC_FIREBASE_PROJECT_ID="samu-2c762"
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET="samu-2c762.firebasestorage.app"
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID="567650289043"
NEXT_PUBLIC_FIREBASE_APP_ID="1:567650289043:web:ed888f850d2b54f9a2d466"